<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleur de Éclat</title>
    <link rel="stylesheet" href="../static/css/styleNav.css">
    <link rel="stylesheet" href="../static/css/styleAgendamento.css">
    <link rel="shortcut icon" href="../static/img/logoSalao.png" type="image/png" alt="logo1" sizes="64x64">
</head>

<body>
    <main class="main-bg ">
        <div class="fundo">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <div class="logo2">
                                    <a href="./index.html"><img src="../static/img/logoSalao.png" alt="logo2"></a>
                                    <p>Fleur de Éclat</p>
                                </div>
                                <div class="navLinks">
                                    <a class="nav-link" href="./servicos.html">Serviços</a>
                                    <a class="nav-link" href="./agendamentos.html">Agendamento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="agendamentos_geral">
                    <div class="stileAgendamentosGeral">
                        <div class="agendamentos_titulo">
                            <div class="borda">
                                <p>Agendamentos</p>
                            </div>
                        </div>
                            <form action="/" method="POST">
                                <div class="form-item">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome" id="nome">
                                </div>
                                <div class="quebradelinha"></div>
                                <div class="form-item">
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email">
                                </div>
                                <div class="quebradelinha"></div>
                                <div class="form-item">
                                    <label for="telefone">Telefone:</label>
                                    <input type="text" name="telefone" id="telefone">
                                </div>

                                <div class="form-itemd">
                                    <label for="data">Data:</label>
                                    <input type="date" name="data" id="data" value="2018-07-22" min="2024-01-11" max="2030-12-31">
                                </div>

                                <div class="form-itemh">
                                    <label for="horário">Horário:</label>
                                    <input type="time" name="horário" id="horário" min="08:00" max="18:00" required>
                                </div>
                                <div class="quebradelinha"></div>
                                <div class="form-item2">
                                    <label for="mensagem">Nos conte suas necessidades para entrarmos em contato e realizarmos seu agendamento!</label>
                                    <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
                                </div>
                                <div class="quebradelinha"></div>
                                <div class="form-itemb">
                                    <input type="submit" value="Enviar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="cor_de_fundo">
                    <div class="direitos">
                        <div class="logo3">
                            <img src="../static/img/logoSalao.png" alt="logo3">
                            </a>
                        </div>
                        <p>Fleur de Éclat - Todos os Direitos Reservados ©</p>
                        <div class="icones