<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleur de Éclat</title>
    <link rel="stylesheet" href="../static/css/styleNav.css">
    <link rel="stylesheet" href="../static/css/PrimeiraPg.css">
    <link rel="stylesheet" href="../static/css/styleSobre.css">
    <link rel="shortcut icon" href="../static/img/logoSalao.png" type="image/png" alt="logo1" sizes="64x64">
</head>

<body>
    <main class="main-bg ">
        <div class="fundo">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <div class="logo2">
                                    <a href="./index.html"><img src="../static/img/logoSalao.png" alt="logo2"></a>
                                    <p>Fleur de Éclat</p>
                                </div>
                                <div class="navLinks">
                                    <a class="nav-link" href="./servicos.html">Serviços</a>
                                    <a class="nav-link" href="./agendamentos.html">Agendamento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="caixa">
                    <div class="caixaCentro">
                        <div class="descricao">
                            <div class="fundot">
                                <h1>Bem-vindo ao nosso salão de beleza, onde a excelência se encontra com a elegância! 
                                    Aqui, cada cliente é recebido com um sorriso caloroso e tratado com cuidado e
                                    atenção incomparáveis.
                                    Venha nos visitar e descubra o que torna nosso salão de beleza único. Estamos 
                                    ansiosos para recebê-lo e ajudá-lo a se sentir verdadeiramente radiante, dentro e fora!</h1>
                            </div>
                        </div>
                    </div>
                    <div class="agend">
                        <a href="#sobre">Obtenha mais informações</a>
                    </div>
                </div>

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                <div id="sobre" class="sobre_titulo">
                    <div class="tituloSobre">
                        <div class="borda">
                            <h2>Sobre</h2>
                        </div>
                    </div>
        
                    <p class="textosSobre">
                        Nossa equipe de profissionais talentosos está aqui para transformar seus desejos de beleza em realidade. Dos cortes de cabelo mais modernos às cores vibrantes e tratamentos rejuvenescedores para a pele, estamos dedicados a superar suas expectativas.
                        No nosso ambiente acolhedor e relaxante, você pode deixar as preocupações do dia-a-dia para trás enquanto nós cuidamos de você. Utilizamos apenas os melhores produtos e técnicas para garantir resultados deslumbrantes e duradouros.
                        Além disso, estamos sempre atualizados com as últimas tendências e inovações da indústria da beleza, para que você possa confiar em nós para oferecer os serviços mais modernos e eficazes.</p>
                    <br><p class="textosSobre">Complementando nosso compromisso com a sua beleza e bem-estar, o nosso salão oferece uma experiência completa e personalizada. Nossa equipe não apenas se destaca em habilidades técnicas, mas também em fornecer um atendimento atencioso e personalizado.
                        Entendemos que cada cliente é único, e é por isso que nos esforçamos para compreender suas necessidades individuais e preferências estéticas. Desde a consulta inicial até o momento em que você sai do nosso salão sentindo-se confiante e rejuvenescido, estamos aqui para garantir que sua experiência seja inigualável.
                        Além dos serviços de beleza tradicionais, também oferecemos uma variedade de tratamentos de spa para cuidar do seu corpo e da sua mente. De massagens relaxantes a manicures e pedicures luxuosas, estamos aqui para mimar você da cabeça aos pés.
                        E para tornar sua visita ainda mais conveniente, oferecemos horários flexíveis e uma atmosfera descontraída para que você possa desfrutar de um momento de tranquilidade e cuidado pessoal, mesmo nos dias mais agitados.
                        Venha nos visitar e descubra por que somos o destino preferido para aqueles que buscam não apenas beleza, mas também uma experiência verdadeiramente excepcional. Estamos ansiosos para recebê-lo e ajudá-lo a realçar sua beleza única, de dentro para fora.</p></br>
                </div>

                <div class="cor_de_fundo">
                    <div class="direitos">
                        <div class="logo3">
                            <img src="../static/img/logoSalao.png" alt="logo3">
                            </a>
                        </div>
                        <p>Fleur de Éclat - Todos os Direitos Reservados ©</p>
                        <div class="icones">
                            <ul class="icons">
                                <li><i class="bi bi-facebook"></i></li>
                                <li><i class="bi bi-instagram"></i></li>
                                <li><i class="bi bi-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
    </main>
    </div>
</body>

</html>