<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleur de Éclat</title>
    <link rel="stylesheet" href="../static/css/styleNav.css">
    <link rel="stylesheet" href="../static/css/styleServico.css">
    <link rel="shortcut icon" href="../static/img/logoSalao.png" type="image/png" alt="logo1" sizes="64x64">
</head>
<body>
    <main class="main-bg ">
        <div class="fundo">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <div class="logo2">
                                    <a href="./index.html"><img src="../static/img/logoSalao.png" alt="logo2"></a>
                                    <p>Fleur de Éclat</p>
                                </div>
                                <div class="navLinks">
                                    <a class="nav-link" href="./servicos.html">Serviços</a>
                                    <a class="nav-link" href="./agendamentos.html">Agendamento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="caixa">
                    <section id="topo">
                        <div class="titulo">
                            <p class="titulos">Serviços</p>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <p class="textos">Oferecemos uma ampla gama de serviços para atender às suas necessidades de beleza e cuidados
                                pessoais. De cortes de cabelo e coloração, manicure, estética atétratamentos de beleza
                                específicos estamos aqui para ajudá-lo a realçar sua beleza natural e relaxar em grande
                                estilo.
                                <br>
                                <br>
                                Nossa equipe de profissionais altamente qualificados está pronta para atendê-lo, oferecendo
                                o melhor em serviços de beleza e bem-estar. Venha nos visitar e descubra como podemos
                                ajudá-lo a alcançar sua melhor versão!</p>
                        </div>
                    </section>
                    <section>
                        <div class="titulo">
                            <p class="titulos">Cabelos</p>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <p class="textos"><strong>- Corte de cabelo:</strong> Um serviço onde um profissional corta o cabelo de acordo com o estilo
                                desejado pelo cliente, levando em consideração sua textura, comprimento e formato do rosto.
                                <br>
                                <br>
                                <strong>- Coloração de cabelo:</strong> Processo que envolve a aplicação de tintura para mudar a cor do cabelo,
                                seja para cobrir cabelos grisalhos, realçar a cor natural ou experimentar uma cor totalmente
                                nova.
                                <br>
                                <br>
                                <strong>- Tratamentos capilares:</strong> Incluem uma variedade de tratamentos, como hidratação, reconstrução,
                                queratinização, entre outros, que visam melhorar a saúde e a aparência dos cabelos, tratando
                                problemas como ressecamento, quebra e danos químicos.
                                <br>
                                <br>
                                <strong>- Escova/modelagem de cabelo:</strong> Um serviço onde o cabelo é escovado e estilizado para criar
                                diferentes looks, como cachos, ondas ou cabelos lisos e brilhantes.</p>
                        </div>
                    </section>
                    <section>
                        <div class="titulo">
                            <p class="titulos">Unhas</p>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <p class="textos"><strong>- Manicure:</strong> Cuidados com as unhas das mãos, incluindo corte, limagem, remoção de cutículas e
                                aplicação de esmalte.
                                <br>
                                <br>
                                <strong>- Pedicure:</strong> Similar à manicure, mas para os pés, envolvendo cuidados com as unhas dos pés,
                                remoção de calosidades e hidratação.</p>
                        </div>
                    </section>
                    <section>
                        <div class="titulo">
                            <p class="titulos">Estética</p>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <p class="textos"><strong>- Depilação:</strong> Remoção temporária de pelos indesejados de áreas do corpo, utilizando técnicas
                                como cera, laser ou eletrólise.
                                <br>
                                <br>
                                <strong>- Maquiagem:</strong> Aplicação de produtos cosméticos no rosto para realçar a beleza natural, cobrir
                                imperfeições e criar looks para diferentes ocasiões.
                                <br>
                                <br>
                                <strong>- Design de sobrancelhas:</strong> Moldagem das sobrancelhas para melhorar sua forma, proporção e
                                simetria, geralmente através de técnicas de depilação com pinça, cera ou fio.
                                <br>
                                <br>
                                <strong>- Extensão de cílios:</strong> Aplicação de cílios artificiais para aumentar o volume, o comprimento e
                                a curvatura dos cílios naturais.
                                <br>
                                <br>
                                <strong>- Tratamentos faciais:</strong> Procedimentos para limpar, hidratar e rejuvenescer a pele do rosto,
                                incluindo limpeza de pele profunda, aplicação de máscaras faciais e tratamentos anti-idade.
                                <br>
                                <br>
                                <strong>- Massagens:</strong> Manipulação dos tecidos moles do corpo para promover relaxamento, alívio da
                                tensão muscular, melhoria da circulação sanguínea e redução do estresse.
                                <br>
                                <br>
                                <strong>- Tratamentos corporais:</strong> Procedimentos para cuidar da pele do corpo, como esfoliação para
                                remover células mortas, hidratação profunda e envoltórios corporais para melhorar a textura
                                e a firmeza da pele.
                                <br>
                                <br>
                                <strong>- Spa de mãos e pés:</strong> Tratamentos luxuosos para as mãos e os pés, geralmente incluindo
                                esfoliação, hidratação e massagem para deixar a pele macia e suave.
                                <br>
                                <br>
                                <strong>- Bronzeamento artificial:</strong> Para obter um tom de pele bronzeado sem exposição ao sol, ou
                                tratamentos de redução de medidas para remodelar o corpo e eliminar gordura localizada.</p>
                        </div>
                    </section>
                    <div class="cor_de_fundo">
                        <div class="direitos">
                            <div class="logo3">
                                <img src="../static/img/logoSalao.png" alt="logo3">
                                </a>
                            </div>
                            <p>Fleur de Éclat - Todos os Direitos Reservados ©</p>
                            <div class="icones">
                                <ul class="icons">
                                    <li><i class="bi bi-facebook"></i></li>
                                    <li><i class="bi bi-instagram"></i></li>
                                    <li><i class="bi bi-twitter"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
    </main>
    </div>
</body>
</html>